/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vh;
  margin: 2px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  background: rgba(211, 211, 211, 1);
}

/* Common form styles */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 12px auto 2px;
  padding: 10px;
  border: 1px solid #92a5a1;
  border-radius: 10px;
  background-color: #41a5e4b2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: auto;
  width: 100%;
}

.label {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 1px;
  padding-left: 2px;
}

.input{
  width: 90%;
  padding: 6px;
  border: 1px solid #9cdba692;
  border-radius: 5px;
  margin-bottom: auto;
  background-color: rgba(235, 235, 235, 1);
  outline-color: #86c5b6;
}

.input.is-invalid {
  border-color: red; /* Red border for invalid inputs */
  outline: none;
}

.button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  margin-top: 6px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 8px;
}

.success {
  color: green;
  font-size: 0.8em;
}

.result {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 36vh;
}

.employeeList {
  display: flex;
  align-items: flex;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
  text-align: left;
  padding-right: 5px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ul{
  align-items: flex;
}

.date-picker-container {
  width: 90%;
  padding: 8px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
}

.react-datepicker__month-container{
  font-size: 0.7rem;
  size: 60vh;
}

.react-datepicker__input-container {
  position: relative;
  display: flex;
  width: 100%;
}

.custom-datepicker {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 4px;
  margin-bottom: 16px; /* Adds space between the two date pickers */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

@media (min-width: 600px) {
  .date-picker-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .custom-datepicker {
    margin-bottom: 2px;
    margin-left: -8px;
  }

  .custom-datepicker:last-child {
    margin-right: 0;
  }
}


.inputContainer {
  margin-bottom: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 40vh;
  align-items: center;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-bottom: 10px;
}

.labels {
  text-align: left;
  margin-right: 10px;
}

.data {
  flex: 1;
  font-size: 12px;
  font-weight: lighter;
  margin-right: 10px;
}

h3 {
  margin-top: 2px;
  font-size: 15px;
  margin-bottom: 2px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 13px;
  line-height: 10px;
  text-align: left;
}

.nameLabelContainer {
  display: flex-start;
  width: 90%;
}

.firstNameLabel {
  margin-bottom: 5px;
  display: flex-start;
}

.nameFields {
  gap: 8px; 
  width: 94%;
}

